  
<nav class="navbar bg-success">
  <div class="container-fluid">
    <button class="navbar-toggler openbtn"  onclick="openNav()" type="button"   data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>    
    </button>
    
    <form class="d-flex mt-3" role="search">
      <input class="form-control me-2 filters_search_textbox" type="search" onkeyup="mysearch()" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary filters_search_textbox" type="submit" onclick="mysearch()" >Search</button>
    </form>  
  </div>
</nav>

<% flash.each do |type, msg| %>
  <div class="alert alert-info alert-dissmisible fade show">
    <%= msg %>
  </div>
<% end %>

<div onclick="closeNav()"> 
    <div class="row row-cols-1 row-cols-md-4 g-4 " id="cards_container" style="padding: 50px 0px 0px 40px; ">   
      <% @notes.each do |note| %>
        <div class="col"> 
          <div class="card show" style="width: 18rem;">
            <div class="card-body">
              <div class="not" id= <%= note.id %>>
                <h5 class="card-title">notes</h5>                  
                <div class="grid-item">
                  <li>
                  <b>
                  <span class="container_title"> 
                      <%=  note.title %>
                  </span></b><br>
                  <span class="container_description">
                      <%=  note.description %>
                  </span>
                  </li>
                </div>
              </div>              
            </div>
          </div>            
        </div>        
      <%end%>
    </div>


      <nav class="navbar fixed-bottom bg">
        <div class="container-fluid">
            <a class="navbar-brand " > 
              <%= button_to "+" , new_note_path , method: :get ,class: "btn btn-success add-new-note"%>
            </a>            
        </div>
      </nav>
</div>



<style>

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    cursor: pointer;
  }

  .add-new-note {
    right: 10px;
    position: absolute;
    bottom: 15px;
  }
</style>



<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a>
    <%= button_to "Notes" , notes_path , method: :get ,class: "btn btn-success "%>
  </a>
  <a >
    <%= button_to "Bin", trash_path, class: "btn btn-success ", method: :get%>
  </a>
</div>



<script>

function openNav() {
  
  document.getElementById("mySidebar").style.width = "250px";
  
}

function closeNav() {
  if(document.getElementById("mySidebar").style.width == "250px" ){
    document.getElementById("mySidebar").style.width = "0";
  }
  
}

function mysearch() {
    const input=document.querySelector(".filters_search_textbox").value.toUpperCase();
    
    const cardContainer=document.getElementById("cards_container");
    const cards= cardContainer.getElementsByClassName("card");
    for(i=0; i<cards.length; i++){
      let title;
      let description;
      title=cards[i].querySelector(".container_title").innerHTML.toUpperCase().indexOf(input)>-1 
      description=cards[i].querySelector(".container_description").innerHTML.toUpperCase().indexOf(input)>-1
      if(title || description ){
        cards[i].parentElement.style.display="";
      }
    else{
        cards[i].parentElement.style.display="none";
      }
    }
}
function abc(element){
 
  window.location.href = 'http://localhost:3000/notes/' + element.querySelector(".not").id;
}
</script>


























